<!DOCTYPE html>
<html>
  <head>
    <!-- 用于模板变量显示 -->
    <!-- 
      <%  code %> javascript代码
      <%= code %> 显示替换过html特殊字符的内容
      <%- code %> 显示原始html内容
     -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
